body {
    font-family: 'Montserrat', sans-serif;
    background: #fefcfe;
    z-index: 2;
}

h1 {
    padding-top: 211px;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
}

@media (max-width: 550px) {
    h1 {
        padding-left: 11px;
    }
}

h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    padding-bottom: 40px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 49px 52px 0;
}

@media (max-width: 550px) {
    header {
        padding: 1px 6px 0;
    }
}

.wrapper {
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}
@media (max-width: 550px) {
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    padding-left: 29px;
    padding-right: 29px;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-link {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
    padding-bottom: 13px;
    transition: 0.2s border-bottom ease;
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    border-bottom: 1px solid #2B3541;
}

.social {
    display: flex;
    min-width: 124px;
    align-items: flex-start;
    justify-content: space-around;
}

@media (max-width: 550px) {
    .social {
        min-width: 83px;
    }
}

.social-icon {
    fill: #2B3541;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    transition: 0.3s transform ease;
}

@media (max-width: 550px) {
    .social-icon {
        width: 26px;
        height: 26px;
    }
}

.social-icon:hover {
    cursor: pointer;
    fill: black;
    transform: scale(1.2);
}

.section-one {
    background-image: url(../img/section-one-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 161px;
    background-position: 80% center;
}

@media (max-width: 550px) {
    .section-one {
        margin-bottom: 159px;
    }
}

.section-one__title {
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin-bottom: 19px;
}

@media (max-width: 550px) {
    .section-one__title {
        padding-left: 10px;
    }
}

.section-one__description {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin-left: 91px;
    padding-bottom: 37px;
}
@media (max-width: 550px) {
    .section-one__description {
        padding-left: 10px;
    }
}

.section-one__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    margin-left: 92px;
    padding: 20px 30px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.3s ease;
}

@media (max-width: 550px) {
    .section-one__link {
        margin-left: 10px;
    }
}

.section-one__link:hover,
.section-five__link:hover,
.btn:hover,
.modal .modal-confirm:hover {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    transition: 0.3s background ease;
    color: #FBF138;
}

.section-one__svg {
    display: block;
    margin-top: 202px;
    margin-left: 85px;
}

.section-one-mobile-background {
    display: none;
}

.events {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

@media (max-width: 550px) {
    .events {
        flex-wrap: wrap;
        align-content: center;
        height: 100%;
        margin-bottom: 77px;
    } 
}

.events-item {
    width: 367px;
    height: 600px;
    position: relative;
}

.events-item .events__link {
    display: inline-block;
    padding: 20px 37px;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FBF138;
    position: absolute;
    left: 30px;
    top: 205px;
    transition: 0.3s;
    opacity: 0;
    border: none;
}
@media (max-width: 550px) {
    .events-item .events__link {
        display: none;
    } 
}

.events-item:hover .events__link {
    opacity: 1;
}

.events-item .events__link:hover {
    background: #FBF138;
    color: #2B3541;
}

.events-item:hover .events-type {
    opacity: 0;
}

@media (max-width: 550px) {
    .events-item:hover .events-type {
        opacity: 1;
    } 
}

.events__link:focus {
    outline: none;
}

.mobile-plus {
    display: none;
}

.modal, .mobile-modal, .modalHeader {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 53, 65, 0.7);
}

.modalHeader  .modal-content {
    margin: 0 auto;
    height: 331px;
}
.modal-content, .mobile-modal-content {
    background-color: #f3f3f3;
    margin: 8% auto;
    width: 600px;
    height: 577px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #2B3541;
    margin-top: 60px;
    margin-bottom: 18px;
    z-index: 2;
}

.circle-modal {
    position: absolute;
    left: 125px;
    top: 28px;
    z-index: -1;
    fill: #FBF138;
}

.modal input  {
    border: none;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #2B3541;
    width: 500px;
    text-indent: 25px;
}

.modal input::-webkit-input-placeholder {
    color: #c0c3c6;
}

.modal input:hover {
    background-color: #f3f3f3;
    transition: 0.3s ease;
}
.modal input:focus {
    outline: none;
}

.modal .modal-input-field-one {
    margin-bottom: 20px;
}

.modal .modal-input-field-two {
    margin-bottom: 40px;
}

.modal-confirm {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    padding: 20px 195px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    text-decoration: none;
    transition: 0.3s ease;
    border: none;
}

.modal-confirm:focus {
    outline: none;
}

.modal-description {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #2B3541;
    margin-top: 0;
    margin-bottom: 40px;
}

.close {
    color: black;
    float: right;
    font-size: 47px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.closeHeader {
    color: black;
    font-size: 47px;
    cursor: pointer;
    padding-right: 9px;
}

.modal-content nav {
    min-width: 93%;
}

.modal-content-one {
    display: flex;
    align-items: center;
    min-width: 348px;
    justify-content: space-between;
    padding-top: 14px;
}

.nav-modal{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-height: 170px;
    justify-content: space-between;
    margin-bottom: 21px;
}

.nav-item-modal {
    list-style-type: none;
    border-bottom: 1px solid #cbcdcf;
    padding-bottom: 18px;
    min-width: 340px;
}
.nav-item-modal:last-child {
    border-bottom: none;
}

.nav-link-modal {
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: #2B3541;
}

.modal-content-three {
    min-width: 329px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-content-three .social {
    min-width: 85px;
    padding-right: 17px;
}

.img-modal {
    width: 78px;
    height: 24px;
}

.form__error {
	text-align: left;
	display: block;
	margin-top: 4px;
    display: none;
    font-size: 14px;
    line-height: 150%;
    color: #AE0303;
}

input:invalid:not(:placeholder-shown) {
	border-color: red;
}
input, input:invalid:not(:placeholder-shown) {
    border: 1px solid #AE0303;
}
input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}

.event-one {
    background-image: linear-gradient(180deg, #FBF0C0 0%, rgba(253, 249, 182, 0) 55%), url(../img/section-two-maraphon.png);
}

@media (max-width: 550px) {
    .event-one {
        flex-basis: 47%;
        height: 310px;
        margin-left: 10px;
        background-size: cover;
        background-position: center center;
    }  
}

.event-one:hover {
    background-image: linear-gradient(180deg, #FBF05F 0%, rgba(253, 249, 182, 0) 75%), url(../img/section-two-maraphon.png);
    transition: 0.6s ease;
}

.event-two {
    background-image: linear-gradient(180deg, #FBF0C0 0%, rgba(253, 249, 182, 0) 55%), url(../img/section-two-vebinar-one.png);
}
@media (max-width: 550px) {
    .event-two {
        flex-basis: 47%;
        height: 310px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 11px;
        background-size: cover;
        background-position: center center;
    }  
}
.event-two:hover {
    background-image: linear-gradient(180deg, #FBF05F 0%, rgba(253, 249, 182, 0) 75%), url(../img/section-two-vebinar-one.png);
    transition: 0.6s ease;
}

.event-three {
    background-image: linear-gradient(180deg, #FBF0C0 0%, rgba(253, 249, 182, 0) 55%), url(../img/section-two-vebinar-two.png);
}
@media (max-width: 550px) {
    .event-three {
        background-image: linear-gradient(180deg, #FBF0C0 0%, rgba(253, 249, 182, 0) 55%), url(../img/section-two-vebinar-two-mobile.png);
        flex-basis: 96%;
        height: 336px;
        margin: 0 auto;
        background-size: cover;
        background-position: center center;
    }  
}
.event-three:hover {
    background-image: linear-gradient(180deg, #FBF05F 0%, rgba(253, 249, 182, 0) 75%), url(../img/section-two-vebinar-two.png);
    transition: 0.6s ease;
}

@media (max-width: 550px) {
    .event-three:hover {
        background-image: linear-gradient(180deg, #FBF05F 0%, rgba(253, 249, 182, 0) 75%), url(../img/section-two-vebinar-two-mobile.png);
        transition: 0.6s ease;
    }
}
.events-date {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    padding: 30px 30px 20px;
}
@media (max-width: 550px) {
    .events-date {
        font-size: 12px;
        line-height: 100%;
        padding: 19px 25px 17px;
    }
}

.events-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    padding-left: 30px;
}

@media (max-width: 550px) {
    .events-title {
        font-size: 16px;
        line-height: 120%;
    }
}

.events-type {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    position: absolute;
    bottom: 0px;
    right: 0;
    background: #FBF138;
    padding: 10px 20px;
    transition: .3s ease;
}

.events-mobile-plus {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #2B3541;
    padding: 8px 8px;

}

@media (min-width: 551px) {
    .events-mobile-plus {
        display: none;
    }
}

@media (max-width: 550px) {
    .events-type {
        font-size: 12px;
        line-height: 150%;
        left: 0;
        padding: 7px 20px;
        right: initial;
    }
}

@media (max-width: 550px) {
    .section-two h2 {
        padding-bottom: 22px;
    }
}

.section-three {
    margin-bottom: 160px;
}

.section-three__title {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .section-three__title  {
        width: 95%;
    }  
}

.h2-section-three {
    margin: 0!important;
}

@media (max-width: 550px) {
    .h2-section-three  {
        padding-bottom: 20px;
        padding-left: 11px;
    }  
}

.section-three-date {
    font-size: 28px;
    padding-top: 13px;
}

.trainings {
    display: flex;
    margin: 0 -10px;
    height: 700px;
}
@media (max-width: 550px) {
    .trainings {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }  
}

.training-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
    width: calc(100% / 3);
    margin: -10px 0;
}

@media (max-width: 550px) {
    .training-column {
        width: 364px
    }  
}

.training {
    flex: 1;
    padding: 10px 0;
}

.training.training-functional-training {
    flex: 0.6;
}

.training.training-body-sculpt {
    flex: 1.6;
}

.training.training-lab {
    flex: 0.9;
}

.training .training-content {
    height: 100%;
    border: 1px solid #9599a0;
    position: relative;
    overflow: hidden;
}

@media (max-width: 550px) {
    .training-flex-mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 106%;
    } 
}

@media (max-width: 550px) {
    .training .training-content {
        height: 114px;
    } 
    .training-date,
    .training-name {
        font-size: 16px;
    } 
}

@media (max-width: 550px) {
    .training-lab {
        margin-top: 14px;
    } 
}

.training-date {
    position: absolute;
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
    right: 20px;
    top: 27px;
}

@media (max-width: 550px) {
    .training-date {
        font-size: 16px;
        top: 21px;
    } 
}

.training-text {
    position: absolute;
    bottom: 49px;
    left: 29px;
    transform: translate(0, 131px);
    transition: 0.3s ease;
}

@media (max-width: 550px) {
    .training-text {
        transform: translate(0, 107px);
    } 
}

.training-content:hover .training-text {
    transform: translate(0, 0);
}

@media (max-width: 550px) {
    .training-content:hover .training-text  {
        transform: translate(0, 46px);
    } 
}

.training-icon {
    margin-bottom: 37px;
}
@media (max-width: 550px) {
    .training-icon {
        margin: 0;
    }
     .training-icon .img-training-body {
        width: 35px;
        height: 39px;
    } 
    .training-icon .img-training-jump {
        width: 35px;
        height: 53px;
    } 
    .training-icon .img-training-bottle {
        width: 23px;
        height: 45px;
    } 
    .training-icon .img-training-heart {
        width: 39px;
        height: 37px;
    } 
    .training-icon .img-training-dumbbell {
        width: 46px;
        height: 25px;
    } 
    .training-icon .img-training-weight {
        width: 35px;
        height: 40px;
    } 
}

.training-content:hover .training-icon {
    margin-bottom: 0px;
    transition: 0.3s ease;
}

.training-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
}

@media (max-width: 550px) {
    .training-name {
        font-size: 16px;
    } 
}

.training-description {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin: 20px 0 0;
}
@media (max-width: 550px) {
    .training-description {
        font-size: 12px;
        line-height: 150%;
    } 
}

.training-power-mix .training-content {
    background-image: linear-gradient(180deg, #FBF05F 0%, rgba(253, 249, 182, 0) 117%);
    border: none;
}

@media (max-width: 550px) {
    .training-power-mix .training-content {
        height: 201px;
        margin-bottom: 20px;
    }
}
.section-four {
    margin-bottom: 170px;
    background: #F3F3F3;
    height: 348px;
    display: flex;
}

@media (max-width: 550px) {
    .section-four {
        margin-top: 250px;
        margin-bottom: 75px;
        height: 417px;
    }
}

.section-four-content {
    margin: 0 auto; 
    width: fit-content;
}

.h2-section-four {
    padding-top: 91px;
    position: relative;
    z-index: 1;
}
@media (max-width: 550px) {
    .h2-section-four {
        text-align: center;
        padding-top: 55px;
        max-width: 238px;
    }
}

.circle-section-four {
    position: absolute;
    fill: #FBF138;
    left: -38px;
    top: 73px;
    z-index: -1;
}

@media (max-width: 550px) {
    .circle-section-four  {
        left: 9px;
        top: 42px;
        width: 42px;
        height: 42px;
    }
}

.mailing {
    padding-bottom: 13px;
}
@media (max-width: 550px) {
    .mailing {
        display: flex;
        flex-direction: column;
        padding-top: 11px;
        min-height: 182px;
    }
}

@media (max-width: 550px) {
    .reverse-flex {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (min-width: 551px) {
    .reverse-flex {
        display: none;
    }
}

@media (max-width: 550px) {
    .reverse-flex-mobile {
        display: none;
    }
}

.custom-checkbox {
    position: relative;
    padding-left: 20px;
}

@media (max-width: 550px) {
    .custom-checkbox {
        padding-bottom: 45px;
    }
}

.custom-checkbox .custom-checkbox-input {
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 18px;
    height: 18px;
    margin: 0;
}

.custom-checkbox .custom-checkbox-label {
    position: relative;
}

.custom-checkbox .custom-checkbox-label:before {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: -26px;
    display: block;
    width: 18px;
    height: 18px;
    pointer-events: unset;
    content: "";
    background-color: #fff;
    border: 1px solid #2b3541;
}

.custom-checkbox .custom-checkbox-label:after {
    position: absolute;
    top: 0;
    left: -26px;
    display: block;
    width: 18px;
    height: 18px;
    content: "";
    background: no-repeat center;
}

.custom-checkbox .custom-checkbox-input:checked~.custom-checkbox-label:before {
    background-color: #2b3541;
}

.custom-checkbox .custom-checkbox-input:checked~.custom-checkbox-label:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-checkbox-input:focus~.custom-checkbox-label:before {
    border-width: 2px;
}

.checkbox-text {
    display: inline-block;
    font-size: 11px;
    line-height: 150%;
    color: rgba(143, 149, 157, 1);
    margin: 0;
}

.checkbox-link {
    text-decoration: none;
    color: rgba(143, 149, 157, 1);
    border-bottom: 1px solid rgba(143, 149, 157, 1);
    transition: 0.3s ease;
}

.checkbox-link:hover {
    color: #2B3541;
    border-bottom: 1px solid #2B3541;
    transition: 0.3s ease;
}

.mailing input {
    border: none;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #2B3541;
    opacity: 0.3;
    margin-right: 20px;
    width: 372px;
}

@media (max-width: 550px) {
    .mailing input {
        width: 332px;
        margin-bottom: 17px;
        margin-right: 0;
        text-indent: 23px;
        font-size: 18px;
    }
}

.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    padding: 20px 51px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    text-decoration: none;
    transition: 0.3s ease;
}

.section-five {
    margin-bottom: 72px;
}

.h2-section-five {
    padding-bottom: 0!important;
}

@media (max-width: 550px) {
    .h2-section-five {
        padding-left: 11px;
    }
}

.about-company {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 550px) {
    .about-company {
        flex-direction: column;
    }
}
.email-with-social {
    display: flex;
    min-width: 552px;
    justify-content: space-between;
    min-height: 48px;
}

@media (max-width: 550px) {
    .email-with-social  {
        min-width: 345px;
        align-items: center;
        margin-bottom: 20px;
    }
}

.about-company__description {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    padding-bottom: 34px;
    width: 487px;
}

@media (max-width: 550px) {
    .about-company__description  {
        font-size: 16px;
        line-height: 150%;
        width: 310px;
        padding-bottom: 23px;
        padding-left: 11px;
    }
}

.about-company-img {
    background-image: linear-gradient(to bottom, rgba(245, 226, 81, 0.35), rgba(243, 227, 87, 0.34), rgba(240, 227, 92, 0.32), rgba(238, 228, 98, 0.31), rgba(236, 228, 104, 0.29), rgba(234, 229, 110, 0.28), rgba(231, 229, 115, 0.26), rgba(229, 230, 121, 0.25), rgba(227, 230, 127, 0.23), rgba(225, 231, 133, 0.22), rgba(222, 231, 138, 0.2), rgba(220, 232, 144, 0.19)), url(../img/about-company-img.png);
    width: 581px;
    height: 336px;
}

@media (max-width: 550px) {
    .about-company-img  {
        width: 100%;
        margin-top: 41px;
        background-size: cover;
        background-position: center center;
        height: 207px;
    }
}

.section-five__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    padding: 20px 51px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.3s ease;
}

@media (max-width: 550px) {
    .section-five__link   {
        display: flex;
        justify-content: center;
    }
}

.section-six {
    display: flex;
    justify-content: space-between;
    padding-bottom: 170px;
}
@media (max-width: 550px) {
    .section-six-item  {
        margin-bottom: 39px;
        padding-left: 11px;
    }
}
@media (max-width: 550px) {
    .section-six  {
        display: none;
    }
}
@media (min-width: 551px) {
    .section-six-mobile  {
        display: none;
    }
}

.item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    margin-bottom: 30px;
}

@media (max-width: 550px) {
    .item-title {
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 16px;
    }
}

.item-description {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
}

@media (max-width: 550px) {
    .item-description {
        font-size: 16px;
        line-height: 150%;
    }
}

footer {
    background: #F3F3F3;
}

@media (max-width: 550px) {
    footer {
        background: none;
    }
}

.svg-footer {
    min-width: 125px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}
@media (max-width: 550px) {
    .footer-top {
        flex-direction: column;
        padding-top: 7px;
    }
}

.nav-bottom {
    display: flex;
    align-items: center;
    list-style-type: none;
    min-width: 479px;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .nav-bottom  {
        padding: 0;
        min-width: 341px;
        margin-top: 41px;
        margin-bottom: 9px;
    }   
}

.nav-link-bottom {
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
    padding-bottom: 13px;
    transition: 0.2s border-bottom ease;
    border-bottom: 1px solid transparent;
}

@media (max-width: 550px) {
    .nav-link-bottom  {
        font-size: 12px;
        line-height: 150%;
    }   
}

.nav-link-bottom:hover {
    border-bottom: 1px solid #2B3541;
}

.email-with-circle {
    position: relative;
    z-index: 1;
    margin-left: 189px;
    align-self: center;
}

@media (max-width: 550px) {
    .email-with-circle {
        margin-left: 0;
    }   
}

.circle-footer {
    position: absolute;
    fill: #FBF138;
    left: -16px;
    top: -10px;
    z-index: -1;
}

.footer-email {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
}

@media (max-width: 550px) {
    .footer-email {
        font-size: 12px;
        line-height: 150%;
    }   
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom__item {
    font-size: 14px;
    line-height: 150%;
    color: rgba(143, 149, 157, 1);
}

.footer-bottom__link {
    color: rgba(143, 149, 157, 1);
    transition: 0.3s ease;
}

.footer-bottom__link:hover {
    color: #2B3541;
    transition: 0.3s ease;
}

@media (min-width: 501px) {
    .header-mobile {
        display: none;
    }
}

@media (max-width: 600px) {

    .nav-header {
        display: none;
    }

    .header-logo img  {
        width: 85px;
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .menu {
        background: transparent;
        border: none;
        cursor: pointer;
        margin-right: 55px;
        margin-top: 9px;
    }

    @media (max-width: 550px) {
        .menu {
            margin-left: 47px;
            margin-right: 92px;
            margin-top: 11px 
        }
       
    }

    .menu:focus {
        outline: none;
    }

    .modal-content, .mobile-modal-content {
        width: 385px;
    }

    .modal-title {
        font-size: 16px;
        line-height: 120%;
        text-align: center;
    }

    .circle-modal {
        left: 98px;
        top: 38px;
        width: 31px;
        height: 31px;
    }

    .modal-description {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
    }

    .modal-input {
        width: 353px;
    }

    .modal-confirm {
        padding: 20px 120px;
    }

    h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    padding-top: 0;
    padding-bottom: 19px;
    }

    .section-one {
        background-image: none;
    }

    .section-one__title {
    font-size: 26px;
    line-height: 32px;
    color: #2B3541;
    }

    .section-one__description {
    font-size: 16px;
    line-height: 150%;
    margin-left: 0;
    margin-bottom: 19px;
    }

    .section-one__link {
        padding: 23px 74px;
    }

    .section-one-mobile-background {
        overflow: hidden;
        display: block;
        margin-top: 78px;
    }

    .section-one-mobile-background img {
    left: -50%;
    top: -50%;
    width: 100%;
    height: 315px;
    object-fit: cover;
    }

    .section-one__svg {
        display: none;
        overflow: hidden;
    }

    h2 {
    font-size: 26px;
    line-height: 125%;
    }

    .mobile-h2-events {
        margin-top: -104px;
        padding-left: 11px;
    }

    .section-three-date {
    font-size: 16px;
    line-height: 120%;
    color: #2B3541;
    opacity: 0.7;
    }

    .section-six {
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column;
        justify-content: none;
    }

    .footer-bottom__item  {
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    }
    
}
